@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.disabled {
  pointer-events: none;
}

html,
body {
  background: #000;
  min-height: 100vh;
  overflow-y: hidden;
}

tr {
  border-radius: 8px;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  border-radius: 100vh;
  background: #eef4ff;
}

::-webkit-scrollbar-thumb {
  background: #c3cde0;
  border-radius: 100vh;
}

::-webkit-scrollbar-thumb:hover {
  background: #a0aec0;
}
